/* Réinitialisation des styles */
body,
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #fff; /* Texte en blanc */
  text-decoration: none;
}

body {
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(../../../public/images/header-background.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

/* Style en dehors de la Grid */
.TitreListeProjets {
  text-align: center;
  margin-bottom: 4vh;
}

/* Styles pour la liste de projets */
.projets-page {
  margin-top: 8vh;
  padding: 20px;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 4vh;
  border-bottom: 2px solid black !important;
}

.projets-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.projet_card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s ease;
  box-shadow: 12px 15px 17px -1px rgba(0, 0, 0, 0.47);
}

.projet_card:hover {
  transform: translateY(-5px);
}

.projet-image {
  position: relative;
  width: 100%; /* Image prend toute la largeur de la carte */
  height: 200px; /* Hauteur de l'image */
  overflow: hidden;
}

.projet-image img {
  width: 100%;
  height: 100%; /* Image prend toute la hauteur de la carte */
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.projet_card:hover .overlay {
  opacity: 1;
}

.projet-info {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  color: #fff;
  z-index: 1; /* Pour s'assurer que le texte est au-dessus de l'image */
}

.projet-info h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.projet-info p {
  font-size: 14px;
  margin-bottom: 10px;
}

.icone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Pour centrer l'icône */
  z-index: 2; /* Pour que l'icône soit au-dessus de l'image */
  display: none; /* Masquer l'icône initialement */
}

.projet_card:hover .icone {
  display: block; /* Afficher l'icône au survol */
}

.icone a {
  display: block;
  font-size: 30px;
  color: #fff;
}

.icone a:hover {
  color: #007bff;
}
